<div class="container mt-5 mb-5 mb-5 ">
  <div class="row">
    <form (ngSubmit)="addNotes(f.value)" #f="ngForm" class="col-md-12">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" id="" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label>Sticky Notes</label>
        <textarea name="note" ngModel class="form-control" id="" cols="30" rows="3"></textarea>
      </div>
      <button  class="btn btn-primary">
        Add Notes <i class="fa ml-2 fa-plus"></i>
      </button>
    </form>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Issues</h3>
      <div class=" notes-container" cdkDropList #issuesList="cdkDropList" [cdkDropListData]="issues"
        [cdkDropListConnectedTo]="[progressList,completedList]" (cdkDropListDropped)="drop($event)">
        <div class="card single_notes" *ngFor="let item of issues;" cdkDrag>
          <div class="sticky-notes">
            <div class="card-body">
              <span (click)="deleteNote(item.id,'issues')" class="icon"> <i class="fa fa-times"> </i></span>
              <p class="card-text">{{item.text}}</p>
              <h5 class="card-title">{{item.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Progress</h3>
      <div class=" notes-container" cdkDropList #progressList="cdkDropList" [cdkDropListData]="progress"
        [cdkDropListConnectedTo]="[issuesList,completedList]" (cdkDropListDropped)="drop($event)">
        <div class="card single_notes" *ngFor="let item of progress" cdkDrag>
          <div class="sticky-notes">
            <div class="card-body">
              <span (click)="deleteNote(item.id,'progress')" class="icon"> <i class="fa fa-times"> </i></span>
              <p class="card-text">{{item.text}}</p>
              <h5 class="card-title">{{item.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Completed</h3>
      <div class=" notes-container" cdkDropList #completedList="cdkDropList" [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[issuesList,progressList]" (cdkDropListDropped)="drop($event)">
        <div class="card single_notes" *ngFor="let item of completed" cdkDrag>
          <div class="sticky-notes">
            <div class="card-body">
              <span (click)="deleteNote(item.id,'completed')" class="icon"> <i class="fa fa-times"> </i></span>
              <p class="card-text">{{item.text}}</p>
              <h5 class="card-title">{{item.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>